.App {
  height: 100vh;
  text-align: center;
}

.nothing {
  list-style: none;
  margin: 0;
  padding: 20px 0;
}

.logo {
  margin-top: 16px;
  transition: 0.3s;
}

.logo:hover {
  fill: black;
}

.Header {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 40px;
}

.Footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  bottom : 0;
  padding: 40px 0;
}

.Footer4HP {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  bottom: 0;
  padding: 30px 0;
}

.copyrights {
  width: 300px;
  margin: auto;
}

.rights {
  margin: 0 40px;
}

.footer-item {
  color: black;
  text-decoration: underline;
}

.menu-bar {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.menu-content {
  font-size: x-large;
  margin: 0 40px 0 0;
}

@media screen and (max-width: 768px) {
  .menu-bar {
    flex-wrap: wrap;
  }

  .menu-content {
    margin: 0 40px 8px 0;
  }
}

.menu-item {
  color: grey;
  transition: 0.3s;
}

.menu-item:hover {
  color: black;
}

a {
  text-decoration: none;
}

.context {
  max-width: 80%;
  margin: auto;
}

.img {
  float: right;
}

hr {
  max-width: 80%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
